:root {
	--main-color: #082129;
	--secondary-color: #05171e;
	--font-color: rgb(194, 185, 185);
	--bg-info-card: #0d3240;
	--pokemon-color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto" !important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--font-color) !important;
}

nav.navegation {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	background-color: var(--main-color);
}

.nav-left-icons {
	display: flex;
	align-items: center;
	gap: 8px;
}

nav.navegation img {
	width: 2rem;
	transition: all 0.8s ease-in-out;
	cursor: pointer;
}

nav.navegation img:hover {
	transform: scale(1.2) rotate(360deg);
}

main {
	flex: 1 !important;
	width: 100%;
	background-color: var(--secondary-color);
}

#searchPokemon {
	width: 220px;
}

.pokemonId-card {
	left: 8px;
}

.img-pokemon {
	/* width: 10rem; */
	height: 12rem;
	object-fit: contain;
	object-position: bottom;
	margin: auto;
	position: relative;
	transition: all 225ms ease-in-out;
	cursor: pointer;
}

.first-letter-uppercase {
	display: block;
}

.first-letter-uppercase::first-letter {
	text-transform: uppercase;
}

.img-pokemon:hover {
	transform: scale(1.1) translateY(-8px);
}

.cards-headline {
	background-color: var(--main-color);
	color: var(--font-color) !important;
	font-weight: 500;
}

.card-headline-name {
	font-size: 0.9rem !important;
	padding-right: 0.9rem;
}

.cards-container .card,
.img-pop-container .card {
	overflow: hidden;
	padding: auto;
}

.container-img-card {
	display: flex;
	justify-content: center;
	background-image: url("./img/pokemon.jpg");
	background-size: 8rem;
	background-repeat: no-repeat;
	background-position: bottom right;
	width: 10rem;
	height: 12rem;
	position: absolute;
	right: -1.2rem;
	opacity: 0.2;
}

.pokemon-types {
	position: relative;
	background: var(--main-color);
	color: var(--font-color) !important;
}

.help-color {
	bottom: 60px;
	background-color: rgba(255 255 255/90%);
	color: var(--main-color);
	bottom: 65px !important;
	font-size: 12px;
	font-weight: 700;
	animation: showingTextOpacity 125ms ease-out;
	animation: showingTextScale 225ms ease-out;
}

@keyframes showingTextOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes showingTextScale {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.type-pokemon-img {
	width: 2rem;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	animation: rotationTypesLoading 0.6s ease-out forwards;
}

.type-pokemon-img-open {
	width: 2rem;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}

.type-pokemon-img:hover {
	animation: rotationTypes 0.8s ease-out forwards;
}

@keyframes rotationTypesLoading {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(720deg);
	}
}

@keyframes rotationTypes {
	from {
		transform: scale(1) rotateY(0);
	}
	to {
		transform: scale(1.2) rotateY(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner-animation {
	animation: spin 1s linear infinite;
	width: 60%;
	aspect-ratio: 1/1;
}

.pagination-container {
	background-color: var(--main-color);
	border: 3px solid var(--secondary-color);
}

nav ul.pagination {
	margin-top: revert;
}

footer {
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img-pop-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0 0 0/80%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-color-info-card {
	background-color: var(--bg-info-card);
	color: var(--font-color);
}

.info-headline p {
	cursor: pointer;
	border-bottom: 3px solid transparent;
}

.info-headline p:hover {
	cursor: pointer;
	border-bottom: 3px solid var(--font-color);
}

.info-headline p.active-info {
	border-bottom: 3px solid var(--pokemon-color);
}

.info-main p > span {
	width: 50%;
}

#info-pokemon > div {
	height: 205px;
}

.info-stats {
	color: black;
	display: flex;
	flex-direction: column;
}

.info-stats p {
	border-radius: 8px;
	text-align: center;
}

.stat {
	height: 2px;
	margin-bottom: 8px;
}

.name-stat {
	color: var(--font-color);
}

.img-evolution {
	width: 60%;
	height: 60%;
	object-fit: contain;
	transition: all 225ms ease-in-out;
	cursor: pointer;
}

.info-evo:hover .img-evolution {
	transform: scale(1.4);
}

.info-evo:hover .figNameEvolution {
	position: absolute;
	z-index: -100;
}

.arrow-container {
	width: 50px;
	height: 50px;
}

.arrow-slide {
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding: 8px;
}

/*Pagination*/
.link-load-pokemons {
	cursor: pointer;
}

.border-unset {
	border-radius: unset !important;
}

@media (max-width: 420px) {
	html {
		font-size: 0.7rem;
	}

	nav {
		flex-direction: column;
		gap: 16px;
	}

	.arrow-container {
		width: 30px;
		height: 30px;
		margin: 8px;
	}
	.arrow-slide {
		padding: 0px;
	}
}
